@charset "UTF-8";
@import "../../base/config/config";

//门店列表
.shop-list {

}

.shop-item {
  padding: pxTorpx(16) pxTorpx(30);
  .media-object {
    border-radius: pxTorpx(10);
    width: pxTorpx(187);
    height: pxTorpx(187);
    image {
      width: 100%;
      height: 100%;

    }
  }
}
