@charset "utf-8";
@import "./base/config/config";

/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200 rpx 0;
  box-sizing: border-box;
}

//字体颜色
$txtcolor: (default, $txtColorDefault), (primary, $mainColor), (minor, $txtColorMinor), (warn, $txtColorWarn);
@each $val, $color in $txtcolor {
  .text-#{$val} {
    color: $color;
  }
}

//文本对齐
$txtDir: left, center, right;
@each $dir in $txtDir {
  .text-#{$dir} {
    text-align: $dir;
  }
}

//
.header-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  &+.page-content{
    padding-top: pxTorpx($heraderHeight);
  }
}
